numpy==1.26.4
pandas==1.5.3
scikit-learn==1.8.0
torch==2.2.2
accelerate==1.13.0
transformers==4.46.3
chronos-forecasting @ git+https://github.com/amazon-science/chronos-forecasting.git@6d68ed7c4ed2805d122d77b4660765b4089de5ca
